Source: snf-occi
Section: python
Priority: optional
Maintainer: Kostas Papadimitriou <kpap@grnet.gr>
Build-Depends: debhelper (>= 8), python-all (>= 2.5)
Standards-Version: 3.9.2
XS-Python-Version: >= 2.6
Homepage: https://github.com/grnet/snf-occi

Package: snf-occi
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-webob, 
  python-eventlet, python-m2crypto, libvomsapi1, 
  python-ldap, ca-policy-egi-core, fetch-crl, apache2, 
  libapache2-mod-wsgi, python-pastedeploy
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: OCCI/Synnefo integration service

